@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body{
  background-image:linear-gradient(to left, orange, green);
  font-family: 'Rubik', sans-serif; 
}

.container{
  padding:30px;
  border:1px solid #fff;
  margin:0 auto;
  width:400px;
  text-align:center;
  background-color:rgba(255,255,255,.2);
  border-radius:5px;
}

.heading{
  text-transform:uppercase;
  color:white;
  letter-spacing:10px;
}

.timer{
  margin-bottom:20px;
  font-size:40px;
}

button{
  padding:15px 20px;
  margin:10px;
  font-family:'Rubik';
  border-radius:10px;
  background-color:transparent;  
}

